{% extends 'base/list.html' %}
{% load django_bootstrap5 %}

{% block create_button %}
    <a href="{% url 'statuses:create' %}" class="btn btn-primary mb-3">
        <i class="bi bi-plus-circle"></i> Создать статус
    </a>
{% endblock %}

{% block table_headers %}
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Дата создания</th>
        <th></th>
    </tr>
{% endblock %}

{% block table_rows %}
        <tr>
            <td>{{ item.id }}</td>
            <td><strong>{{ item.name }}</strong></td>
            <td>{{ item.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'statuses:update' item.id %}" class="btn btn-sm btn-warning">
                    <i class="bi bi-pencil"></i> Изменить
                </a>
                <a href="{% url 'statuses:delete' item.id %}" class="btn btn-sm btn-danger">
                    <i class="bi bi-trash"></i> Удалить
                </a>
            </td>
        </tr>
{% endblock %}
   