<tr>
    <td>{{ item.id }}</td>
    <td><a href="{% url 'tasks:detail_view' item.id %}"> {{ item.name }} </a></td>
    <td>{{ item.status.name }}</td>
    <td>{{ item.author.username }}</td>
    <th>{{ item.executor.username|default:"" }}</th>
    <td>{{ item.created_at|date:"d.m.y H:i" }}</td>
    <td>
        <a href="{% url 'tasks:update' item.id %}" class="btn btn-sm btn-warning">
            <i class="bi bi-pencil"></i> Изменить
        </a>
        <a href="{% url 'tasks:delete' item.id %}" class="btn btn-sm btn-danger">
            <i class="bi bi-trash"></i> Удалить
        </a>
    </td>
</tr>